*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
    // font-family:cursive;
}
body{
    overflow-x: hidden;
}
html{
    overflow-x: hidden;
}

$color1:#afafaf;
$color2:#000000;
$color3: #ffffff;
$color4:#1b2132;
$color5:#f5d94a;
// $color5:#ff6430;